<!DOCTYPE html>
<html>
    <head>
        <title>Comparison Results</title>
        <style>
            img{
                width:50%
            }
        </style>
    </head>
    <body>
        <table style="width:70%" border="1px solid black" border-collapse="collapse">
            <tr>
                <td colspan="2"><b>Comparison of View1ViewController</b></td>
            </tr>
            <tr>
                <th>Build Version 3</th>
                <th>Build Version 4</th>
            </tr>
            <tr>
                <td align="center">
                    <img src="/Users/Danny/Documents/Studium/Bachelorarbeit/bachelor-thesis-3baule/App/GoServer/src/github.com/3baule/server/img/abc.png">
                </td>
                <td align="center">
                    <img src="../img/def.png">
                </td>
            </tr>
            <tr>
                <td>Size differes to previous version. Was: 1</td>
                <td>Size differes to previous version. Now: -1</td>
            </tr>
            <tr>
                <td colspan="2"><b>Found a total of 1 inconsistencies on View1ViewController</b></td>
            </tr>
        </table>
    </body>
</html>